/* Contact Page Styles */

body {
    background-color: #FEECE2;
    font-family: 'Arial', sans-serif;
    line-height: 1.6;
    margin: 0;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

header {
    background-color: #FEECE2;
    color: #3d2021;
    padding: 1rem;
    text-align: center;
}

nav ul {
    list-style-type: none;
    padding: 0;
}

nav ul li {
    display: block;
    margin-bottom: 10px;
}

h2 {
    color: #333;
    margin-bottom: 10px;
}

h3 {
    color: #333;
    margin-bottom: 10px;
}

ul {
    margin-bottom: 20px;
}

.contact-container {
    display: flex;
    justify-content: space-between;
    padding: 20px;
    flex-grow: 1;
}

.contact-text {
    width: 60%;
}

.contact-image img {
    max-width: 90%;
    display: block;
    margin-left: auto;
    margin-right: 0;
}

footer {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 1rem;
    width: 100%;
}

.footer-button {
    background-color: #555;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    transition: background-color 0.3s ease;
}

.footer-button:hover {
    background-color: #777;
}
